---
layout: default
scrolljs: true
---

<div class="jumbotron welcome">
  <div class="container">
    <div class="row justify-content-between align-items-bottom">
      <div class="col-lg-5 text-center text-lg-left pb-10">

        <h1>{{ site.description }}</h1>
        <p>A free and open-source operating system for Raspberry Pi devices, based on the Android mobile platform.</p>
        <a class="btn btn-primary text-primary" href="https://gitlab.com/zikha-group/android_local_manifest">Get Started with RPI4</a>
        <a class="btn btn-link text-white" href="{{ site.baseurl }}/blog">Blog</a>

      </div>
      <img alt="Home" src="{{ site.baseurl }}/assets/img/peek_device.webp" class="welcome-image">
    </div>
  </div>
</div>

<section class="blog bg-primary-lighter">
  <div class="container">
    <div class="post text-lg-left">
      <div>
        <h2>Latest news</h2>

        {% for post in site.categories.blog limit:5 %}
        <h3><a class="fg-primary-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <h6>{{ post.excerpt }}</h6>
        <p><i class="material-icons-outlined post-icons" alt="Creation date">calendar_today</i> {{ post.date | date: '%B %d, %Y' }}
        {% if post.modified %} <i class="material-icons-outlined post-icons" alt="Last modified">edit_calendar</i> {{ post.modified | date: '%B %d, %Y' }}{% endif %}
        {% if post.author %} <i class="material-icons-outlined post-icons" alt="Author">person_outline</i> {{ post.author }}{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="longevity">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-6">
        <img alt="A pinwheel of four devices each showing Lineage wallpapers" src="{{ site.baseurl }}/assets/img/longevity.webp" class="img-fluid text-center" id="rotate-on-scroll">
      </div>

      <div class="col-lg-5 text-center text-lg-left">
        <h2>Longevity</h2>
        <p class="feature">
          LineageOS extends the functionality and lifespan of mobile devices from
          more than 20 different manufacturers thanks to our open-source community
          of contributors from all around the world.<br><br>

          Want to contribute? <a href="{{ site.baseurl }}/community">See how you can make LineageOS better</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="download bg-primary bg-dark" style="margin-bottom: -3rem;">
  <div class="container">
    <div class="text-center">
      <h2>Ready? Get Android images for Raspberry Pi now!</h2>
      <p class="feature">
        Currently, The Android 14 and Android 16 are supported for Raspberry Pi 4 device
        <br>
        The prebuilt binaries offers basic features: video playback with software codecs, camera,
	audio, dual display. The performance is very incredible.
        <br>
        Check it out and enjoy the powerful of Android on Raspberry Pi 4.
      </p>
      <a class="btn btn-primary" href="https://gitlab.com/zikha-group/android_prebuilt_binaries/-/tree/main/Official_Images">Download here</a>
    </div>
  </div>
</section>
